/************* USED FONT - font-family: 'Rubik', sans-serif; - ********************/
/* nd - nice dashborad  */

#nd-wrapper {
  width: 100%;
}
.nd-header {
  width: 100%;
  position: fixed;
  transition: .3s ease-in;
  height: 80px;
  z-index: 9999;
}
.nd-header-left {
  float: left;
  width: 225px;
  position: fixed;
  left: 0;
  height: 80px;
  padding: 0 20px;
  transition: .3s ease-in;
}
.nd-logo {
  float: left;
  line-height: 80px;
  vertical-align: middle;
}
.nd-logo img {
  display: block;
}
.logo-img {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.logo-text {
  display: inline-block;
  vertical-align: middle;
}
.nd-bartoggle {
  float: right;
  display: block;
  height: 80px;
  overflow: hidden;
  width: 55px;
}
.bartoggle-btn {
  background: transparent;
  position: relative;
  border: 0;
  display: block;
  float: right;
  margin-top: 30px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.bartoggle-btn span {
  top: 10px;
  position: absolute;
  width: 18px;
  background: #8899a1;
  height: 2px;
  right: 0;
}
.bartoggle-btn span::before {
  content: '';
  background: #8899a1;
  position: absolute;
  top: -6px;
  width: 11px;
  height: 2px;
  right: 0;
  transition: .3s ease-in;
}
.bartoggle-btn span::after {
  content: '';
  background: #8899a1;
  position: absolute;
  top: 6px;
  width: 11px;
  height: 2px;
  right: 0;
  transition: .3s ease-in;
}
.bartoggle-btn:hover ::before, .bartoggle-btn:focus ::before {
  width: 18px;
  transition: .3s ease-in;
}
.bartoggle-btn:hover ::after, .bartoggle-btn:focus ::after {
  width: 18px;
  transition: .3s ease-in;
}
.nd-header-right {
  margin-left: 265px;
  padding: 0 0 0 30px;
  overflow: hidden;
  transition: .3s ease-in;
}
.nd-search-div {
  padding: 32px 0 26px;
  width: 40%;
  float: left;
}
.nd-search-div i {
  font-size: 17px;
  color: #bfc4ce;
  margin-right: 10px;
}
.nd-search-div input {
  color: #bfc4ce;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  margin: -5px 0px 0px 0px;
  width: 80%;
}
.nd-search-div input::placeholder {
  color: #bfc4ce;
}
.nd-header-user-info {
  float: right;
  height: 80px;
}
.nd-header-user-info ul {
  display: block;
  line-height: 80px;
}
.nd-header-user-info ul li {
  display: inline-block;
  float: left;
  position: relative;
}
.nd-header-user-info ul li a {
  padding: 0 17px;
  height: 80px;
  line-height: 85px;
  vertical-align: middle;
  display: inline-block;
  transition: all .1s ease-out;
  margin-top: -1px;
}
.nd-header-user-info ul li a:hover {
  background: #eee;
  transition: all .1s ease-out;
}
.nd-header-user-info ul li i {
  font-size: 22px;
  color: #a8afbc;
}
.user-img {
  display: inline-block;
  height: 80px;
  float: left;
}
.user-img img {
  width: 44px;
  height: auto;
  border-radius: 50%;
  vertical-align: middle;
  margin: -10px 10px 0 0px;
}
.noti-number {
  position: absolute;
  right: 11px;
  top: 18px;
}
.user-information a {
  padding: 0 30px 0 20px !important;
  border-left: 1px solid #eee;
}
.noti-box {
  background: #137eff;
  padding: 3px;
  border-radius: 50%;
  vertical-align: baseline;
  color: #fff;
  height: 13px;
  min-width: 13px;
  text-align: center;
  line-height: 13px;
}
.user-details {
  float: left;
  margin-left: 5px;
  padding-top: 22px;
}
.Welcome {
  color: #a8afbc;
  font-size: 16px;
  height: 20px;
  display: block;
  float: left;
  line-height: initial;
}
.user-name {
  color: #233242;
  clear: both;
  float: left;
  height: 20px;
  line-height: normal;
}
.user-arrow {
  margin-left: 5px;
}
.user-arrow i {
  color: #9ea4ac !important;
  font-size: 16px !important;
  font-weight: bold;
}
.nd-left-sidebar {
  position: fixed;
  height: calc(100% - 80px);
  margin-top: 0px;
  width: 265px;
  top: 80px;
  left: 0;
  transition: .3s ease-in;
  z-index: 9999;
  overflow: hidden;
}
.nd-left-sidebar nav {
  position: relative;
  height: calc(100% - 40px);
  overflow-y: auto;
  width: 265px;
}
.nd-left-sidebar-nav li {
    display: block;
    position: relative;
}
.nd-left-sidebar-nav li a {
  padding: 12px 20px;
  color: #fff;
  opacity: 0.7;
  font-size: 16px;
  width: calc(100% - 42px);
  display: block;
  transition: all .3s ease-out;
  border-left: 2px solid transparent;
}
.nd-left-sidebar-nav li a i {
  font-size: 23px;
  vertical-align: middle;
  margin-right: 10px;
}
.sidebar-nav-link {
    vertical-align: middle;
}
.nav-link-count {
  position: absolute;
  right: 35px;
  top: 14px;
  width: 20px;
  vertical-align: middle;
  padding: 5px;
  text-align: center;
  line-height: 10px;
  border-radius: 20px;
  font-size: 13px;
  opacity: 1;
}
.nd-left-sidebar-nav li a::after {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #fff;
  margin-left: 10px;
  -webkit-transform: rotate(135deg) translate(0,-50%);
  transform: rotate(135deg) translate(0,-50%);
  -webkit-transform-origin: top;
  transform-origin: top;
  top: 24px;
  right: 20px;
  transition: all .3s ease-out;
}
.no-child::after {
  display: none;
}
.nd-left-sidebar-nav li a:hover, .nd-left-sidebar-nav li a:focus, .nd-left-sidebar-nav li a.active {
    opacity: 1;
    background: #1e2b39;
    transition: all .3s ease-out;
    border-left: 2px solid #137eff;
}
.nd-left-sidebar-section {
  padding: 0px 20px 10px;
  display: block;
  width: calc(100% - 40px);
  font-size: 14px;
  color: #55616d;
  margin-top: 50px;
}

.nd-page-content {
  background: #f2f4f5;
  margin-left: 265px;
  padding-top: 80px;
  position: relative;
  height: 100%;
  transition: .3s ease-in;
}
.page-breadcrumb-wrapper {
    padding: 30px;
    overflow: hidden;
    vertical-align: middle;
}
.page-breadcrumb-wrapper h1 {
    color: #233242;
    float: left;
}
.page-breadcrumb {
    float: right;
}
ul.breadcrumb {
    display: block;
}
li.breadcrumb-item {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    color: #137eff;
    margin-left: 20px;
}
.breadcrumb-item a {
    color: #a8afbc;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    transition: all .3s ease-out;
}
.breadcrumb-item a:hover {
  color: #137eff;
  text-decoration: underline;
  transition: all .3s ease-out;
}
.breadcrumb-item a::after {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: #a8afbc;
  margin-left: 10px;
  -webkit-transform: rotate(135deg) translate(0,-50%);
  transform: rotate(135deg) translate(0,-50%);
  -webkit-transform-origin: top;
  transform-origin: top;
  top: 6px;
  right: -13px;
  transition: all .3s ease-out;
}

.nd-page-dashboard {
  display: block;
  padding: 0 30px 30px;
}
a.canvasjs-chart-credit {
    display: none !important;
}
.chart-info {
    padding-bottom: 25px;
}
.nd-custom-select {
    display: inline-block;
    width: 100%;
    height: 23px;
    padding: 0;
    line-height: 1.5;
    vertical-align: middle;
    background: url(../images/custom-select.png) right .65rem center/12px 7px no-repeat #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;

}
.sales-select {
  width: 115px;
}

#backButton {
  border-radius: 4px;
  padding: 8px;
  border: none;
  font-size: 10px;
  background-color: #2eacd1;
  color: white;
  position: absolute;
  top: 10px;
  right: 11px;
  cursor: pointer;
}
.invisible {
  display: none;
}

.chart-value {
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  display: block;
}
.chart-sale {
  font-size: 16px;
}
.chart-img img {
    padding-top: 20px;
}
.sale-name {
    display: block;
    padding-bottom: 2px;
}
.sales-details {
  display: inline-block;
  line-height: 18px;
  vertical-align: top;
  padding-top: 5px;
  padding-left: 10px;
}
.sale-team-name li {
  display: inline-block;
}
.sale-team-name li a {
  height: 25px;
  display: inline-block;
  width: 25px;
  padding: 5px;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
  margin-left: -10px;
  border: 2px solid #fff;
  font-size: 12px;
  color: #eee;
  transition: all .2s ease-out;
}
.sale-team-name {
  display: inline-block;
}
.sale-team-name li a:hover {
  opacity: 0.9;
  transition: all .2s ease-out;
  color: #fff;
}
.add-sales-team {
  width: 34px;
  height: 34px;
  background: #effaff;
  border-radius: 50%;
  font-size: 21px;
  color: #137eff;
  border: 1px solid #137eff;
  cursor: pointer;
  vertical-align: inherit;
  line-height: 33px;
  text-align: center;
  display: inline-block;
}
.add-sales-team:hover {
  background: #137eff;
  color: #fff;
  border: 1px solid #133dff;
}
.user-status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-left: 15px;
}
.user-weeks {
  padding-left: 12px;
}
.nd-copy-right a {
  transition: all .3s ease-out;
}
.nd-copy-right a:hover {
  text-decoration: underline;
  transition: all .3s ease-out;
}
#chartContainer {
  height: 263px;
  width: 100%;
}
#chartContainer canvas {
  width: 100% !important;
}
#chartContainer2 {
  height: 248px;
  width: 100%;
}
#chartContainer2 canvas {
  width: 100% !important;
}
#chartContainer3 canvas {
  width: 100% !important;
}
#chartContainer3 {
  height: 248px;
  width: 100%;
}

/* toggle menu & header */
.nd-body-menu-toggle .nd-header-left {
    transition: .3s ease-in;
    left: -202px;
}
.nd-body-menu-toggle .nd-logo {
  display: none;
}
.nd-body-menu-toggle .nd-left-sidebar {
    transition: .3s ease-in;
    width: 63px;
}
.nd-body-menu-toggle .sidebar-nav-link {
  margin-left: -300px;
  position: absolute;
  width: 100%;
}
.nd-body-menu-toggle .nav-link-count {
  display: none;
}
.nd-body-menu-toggle .nd-left-sidebar-section {
  font-size: 0;
  border-top: 1px dashed;
}
.nd-body-menu-toggle .nd-left-sidebar-nav li a::after {
  display: none;
}
.nd-body-menu-toggle .nd-page-content {
  margin-left: 63px;
  transition: .2s ease-in;
}
.nd-body-menu-toggle .nd-header-right {
  margin-left: 63px;
  transition: .2s ease-in;
}
.nd-mobile-toggle {
  display: none;
}
.nd-body-menu-toggle .black-overlay {
  display: none;
}
.nd-body-menu-toggle nav {
    width: 265px;
}
